.home__container {
    row-gap: 3rem;
}

.home__content {
    grid-template-columns: 116px repeat(2, 1fr);
    padding-top: 3rem;
    column-gap: 2rem;
    align-items: center;
}

.text__b {
    color: var(--title-color-dark);
}

.home__social {
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-15px);
    }

    60% {
        transform: translateY(-5px);
    }
}

.home__social-icon {
    font-size: 1.75rem;
    color: var(--title-color);
    animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    -moz-animation: bounce 2s infinite;
    -o-animation: bounce 2s infinite;
}

.home__social-icon:hover {
    color: var(--title-color-dark);
    transform: scale(1.1);
    animation: none;
}


.home__title {
    font-size: var(--big-font-size);
    margin-bottom: var(--mb-0-25);
    line-height: 60px;
}

.home__subtitle {
    position: relative;
    font-size: var(--h3-font-size);
    padding-left: 5.4rem;
    font-weight: var(--font-normal);
    margin-bottom: var(--mb-1);
}

.home__subtitle::before {
    content: '';
    position: absolute;
    width: 70px;
    height: 1px;
    background-color: var(--title-color);
    left: 0;
    top: 1rem;
}

.home__description {
    max-width: 400px;
    margin-bottom: var(--mb-1);
}

.home__img {
    background: url(../../assets/profile.png);
    background-color: var(--title-color);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 4px rgb(255 255 255 / 30%);
    order: 1;
    justify-self: center;
    width: 300px;
    height: 300px;
    animation: profile_animate 8s ease-in-out infinite 1s;
}

@keyframes profile_animate {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }

    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }

    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}

.home__scroll {
    margin-left: 9.25rem;
}

/* Hide Scroll */
.hide-scroll {
    opacity: 0;
    transition: 0.7s;
    transform: translateY(100%);
}


.home__scroll a {
    display: flex;
    align-items: center;
}

.wheel {
    animation: scroll 2s ease infinite;
}

@keyframes scroll {
    0% {
        transform: translateY(0);
    }

    30% {
        transform: translateY(3.75rem);
    }
}

.home__scroll-name {
    color: var(--title-color);
    font-weight: var(--font-medium);
    margin-right: var(--mb-0-25);
    margin-left: 2px;
}

.home__scroll-arrow {
    font-size: 1.25rem;
    color: var(--title-color);
    animation: scrollArrow 2s ease infinite;
}

@keyframes scrollArrow {
    0% {
        transform: translateY(0);
    }

    30% {
        transform: translateY(1.25rem);
    }
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
    .home__content {
        grid-template-columns: 100px repeat(2, 1fr);
    }

    .home__subtitle {
        padding-left: 3.75rem;
    }

    .home__subtitle::before {
        width: 42px;
        top: 0.8rem;
    }

    .home__description {
        max-width: initial;
    }

    .home__img {
        width: 300px;
        height: 300px;
        box-shadow: inset 0 0 0 3px rgb(255 255 255 / 30%);
    }

    .home__scroll {
        margin-left: 8rem;
    }



}

/* For medium devices */
@media screen and (max-width: 768px) {
    .home__content {
        grid-template-columns: 0.5fr 3fr;
    }

    .home__img {
        order: initial;
        justify-self: initial;
        width: 250px;
        height: 250px;
        box-shadow: inset 0 0 0 2px rgb(255 255 255 / 30%);
    }

    .home__data {
        grid-column: 1/3;
    }

    .home__scroll {
        display: none;
    }
}

/* For small devices */
@media screen and (max-width: 350px) {
    .home__img {
        width: 180px;
        height: 180px;
    }
}